@charset "UTF-8";

/* 共通部分
-------------------------*/
html {
	font-size : 100%;
}

body{
	font-family: "Yu Gothic Medium","游ゴシック Medium","Yu Gothic","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
	line-height: 1.7;
	color: #432;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

@media (max-width: 600px) {
	.page-title {
		font-size: 2.5rem;
	}

	/* HEADER */
	.page-header {
		flex-direction: column;
		align-items: center;
	}

	.main-nav {
		font-size: 1rem;
		margin-top: 10px;
	}

	.main-nav li {
		margin: 0 20px;
	}

	/* HOME */
	.home-content {
		margin-top: 20%
	}
}