<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			WCB Cafe
		</title>
		<meta name="description" content="ブレンドコーヒーとヘルシーなオーガニックフードを提供するカフェ">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS -->
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/body.css}">
		<!-- favicon -->
		<link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
	</head>

	<body>
		<div id="home" class="big-bg">
			<header class="page-header wrapper" th:fragment="header">
				<h1>
					<a href="index">
						<img class="logo" th:src="@{/images/logo.svg}" alt="WCBカフェホーム">
					</a>
				</h1>
				<nav>
					<ul class="main-nav">
						<li>
							<a th:href="@{news}">
								News
							</a>
						</li>
						<li>
							<a th:href="@{menu}">
								Menu
							</a>
						</li>
						<li>
							<a th:href="@{contact}">
								Contact
							</a>
						</li>
					</ul>
				</nav>
			</header>

			<div class="home-content wrapper">
				<h2 class="page-title">
					We'll Make Your Day
				</h2>
				<p>
					おしゃれなカフェで癒されてみませんか？無添加の食材で体の中からリフレッシュ
				</p>
				<a class="button" href="menu">
					メニューを見る
				</a>
			</div> <!-- /.home-content -->
		</div> <!-- /#home -->
		<div>
			<table>
				<tr>
					<th>会社Code</th>
					<th>会社名</th>
				</tr>
				<tr th:each="companyList : ${companyList}">
					<td th:text="${companyList.companyCode}"></td>
					<td th:text="${companyList.companyName}"></td>
				</tr>
			</table>
		</div>
		<div>
			<form action="#" th:action=@{/edinet/result} th:object="${assetEntity}" method="get">
				<p>
					会社Code:
					<input type="text" th:field="*{companyCode}" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>
		</div>
		<footer th:fragment="footer">
			<div class="wrapper">
				<p>
					<small>
						&copy; 2021
					</small>
				</p>
			</div>
		</footer>
	</body>
</html>